.bigbubble, .options {
    gap:10px;

}
.getTit2 {
    font-size: 12.5px;
    
}

.bigbubble {
    
    padding:10px;

    background-color:rgb(226, 226, 226);
    border-radius: 30px;
    outline:solid rgb(192, 192, 192) 1px;
    /* box-shadow: rgb(192, 192, 192) 0px 10px 30px 4px; */

    display: flex;
    flex-flow: column;
}
.options{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.bigbubble > span{
    text-align: center;
}
.option {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    /* gap:5px; */
    border-radius: 40px;
    border: solid rgb(201, 201, 201) 2px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;

    transition:0.3s;
    
}
.option:hover{
    background-color: rgb(228, 228, 228);
}
.price {
    font-size: 50px;
    font-weight: bold;
}
.optionName {
    font-size: 25px;
}
.optionPerks {
    display: flex;
    flex-flow: column;
    gap:5px;
}

.moreoptions {
    
}

#img {
    margin-bottom: 10px;
}
.break{
    height:20px;
}