:root{

    --extension-main-gradient:var(--extension-main-color);

    --extension-main-color:rgb(255, 49, 142);
    --extension-main-headbar-color:var(--extension-main-color);
    /* --extension-main-color:rgba(255,0,113,1); */
    --extension-main-darker-color:rgb(180, 0, 81);
    --extension-main-color-gradient-b:rgb(255, 108, 174);
    --extension-main-text-color:white;

    --extension-main-page-bg:white;
}